<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="a home for 3D emoji" />
    
    <!-- Title and favicon -->
    
    <title>{{ page.title | escape }}</title>
    
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;800&display=swap"
      rel="stylesheet" />
    <link rel="icon" type="image/png" href="assets/img/icon.png" />
    
    <!-- import the webpage's stylesheet -->

    <link rel="stylesheet" href="assets/css/styles.css">

    <!-- Scripts for 3D things -->
    <script
      src="https://unpkg.com/@webcomponents/webcomponentsjs@2.1.3/webcomponents-loader.js"></script>
    <script type="module"
      src="https://unpkg.com/@google/model-viewer/dist/model-viewer.js"></script>
    <script nomodule
      src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js"></script>
 
    <!-- Navigation script -->
    <script>
    function myFunction() {
    var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
    </script>
</head>