<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="a home for 3D emoji" />

  <!-- Title and favicon -->

  <title>{{ page.title | escape }}</title>

  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;800&display=swap" rel="stylesheet" />
  <link rel="icon" type="image/png" href="assets/img/icon.png" />

  <!-- import the webpage's stylesheet -->

  <link rel="stylesheet" href="assets/css/styles.css">

  <!-- Scripts for 3D things -->
  <script src="https://unpkg.com/@webcomponents/webcomponentsjs@2.1.3/webcomponents-loader.js"></script>
  <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.js"></script>
  <script nomodule src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js"></script>

  <!-- jqury -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Hello there! Feel free to say hi back at info@3moji.org :) -->
  <script>(function (v, i, s, a) { if (!v._visaSettings) { v._visaSettings = {}; } v._visaSettings["30fbb791-7a60-11eb-b589-901b0edac50a"] = { v: "0.3", s: "30fbb791-7a60-11eb-b589-901b0edac50a", a: "1" }; _v = i.getElementsByTagName("body")[0]; _a = _v; _i = i.createElement("script"); _s = _i; _s.defer = "defer"; _s.src = s + a + v._visaSettings["30fbb791-7a60-11eb-b589-901b0edac50a"].v; _a.appendChild(_s); })(window, document, "//app-worker.visitor-analytics.io/main", ".js?s=30fbb791-7a60-11eb-b589-901b0edac50a&v=")</script>

</head>