<!-- Navigation script -->

<script>

function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}

$(document).ready(function(){
  $("button").click(function(){
    $(".dropdown-content").toggle();
  });
});

</script>

<div class="topnav" id="myTopnav">
  <a href="index.html" class="active">3moji</a>
    
  <div class="dropdown">
  
    <button class="dropbtn" id="button">Categories</button>

    <div class="dropdown-content">
      <a href="smileys&emotion.html">😀 Smileys & Emotions</a>
      <a href="people&body.html">🧑‍🤝‍🧑 People & Body</a>
      <a href="animals&nature.html">🐍 Animals & Nature</a>
      <a href="food&drink.html">🧋 Food & Drink</a>
      <a href="travel&places.html">🗺️ Travel & Places</a>
      <a href="activities.html">🎨 Activities</a>
      <a href="objects.html">💎 Objects</a>
      <a href="symbols.html">🔣 Symbols</a>
      <div class="inactivemenu">🎌 Flags (In Progress)</div>
    </div>

    <a class="searchButton" href="about.html">About</a>
    <a class="searchButton" href="search.html">Search</a>
  
  </div>

  

  <a href="javascript:void(0);" style="font-size:20px;" class="icon" onclick="myFunction()">&#9776;</a>
</div>