<div class="topnav" id="myTopnav">
    <a href="index.html" class="active">3moji</a>
    <a href="Smileys&People.html" >Smileys & People</a>
    <a href="Animals&Nature.html" >Animals & Nature</a>
    <a href="Food&Drink.html" >Food & Drink</a>
    <a href="Activity.html" >Activity</a>
    <a href="Travel&Places.html" >Travel & Places</a>
    <a href="Objects.html" >Objects</a>
    <a href="Symbols.html" >Symbols</a>
    <a href="Flags.html" >Flags</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <div class="Catagories">Categories</div>
    </a>
  </div>