---
layout: default
---

<!-- navigation -->

{%- include menu.html -%}

<div class="fillspace">
    <div class="container-4">

        <div class="container-4-box">

            <br>
            <br>
            <h4>What is 3moji?</h4>
            <p>
                3moji is my attempt at creating a 3D Emoji library. During the beginning of the pandemic I started
                modeling Emoji. It was therapeutic and I enjoyed doing it. After making pretty much all of them I
                decided it would be good to pack them up and give them to others to use so I created <a class="textlink"
                href="index.html">3moji.org</a>. The website is a work in progress, but it is slowly getting better day by day.
            </p>
            <p>
                You can see the progress I’ve made so far by heading over to the <a class="textlink" href="index.html">home page</a>
                or search for a specific Emoji on the <a class="textlink" href="search.html">search page</a>.
                If you want more info, or are interested in the project then <a class="textlink" href="mailto:info@3moji.org">contact me here!</a>
            </p>
            <p>
                Something to note. This project is not directly associated with any NFT project.
            </p>
        </div>
    </div>
</div>