---
layout: default
---

<!-- navigation -->

{%- include menu.html -%}

<div class="fillspace">
    <div class="container-4">

        <div class="container-4-box">

            <br>
            <br>
            <h4>What is 3moji?</h4>
            <p>
                3moji is my attempt at creating a 3D Emoji library. The website is a current work in progress as are the
                Emoji themselves, but they are both slowly getting better day by day.
                </p>
            <p>
                You can see the progress I’ve made so far by heading over to the <a class="textlink"
                    href="index.html">home page</a> or search for a
                specific Emoji on the <a class="textlink" href="search.html">search page</a>. If you want more info, or are
                interested in the project then <a class="textlink" href="mailto:info@3moji.org">contact me here!</a> Something to note. 
                This project is not directly associated with any NFT project. I've seen some projects pop up with the 3moji name.
                </p>
                <p>
                You can also find some of my other work on the internet at <a class="textlink"
                    href="https://jeremy.toys">jeremy.toys</a> If you're interested in the person behind 3moji.
            </p>
        </div>
    </div>
</div>