---
layout: default
---

<!-- navigation -->

{%- include menu.html -%}

<div class="imagegrid">
  <br>
  <div class="subhead">
    <h2>Objects</h2>
  </div>

  <div class="imagegridtwo">

    {% for page in site.pages %}

    {% if page.layout == 'objects' %}

    <div class="griddiv"><a href="{{ page.url }}"><img class="gridimage" src="assets/img/3moji/{{ page.emoji }}.png"
          alt="{{ page.title }}" /></a></div>

    {% endif %}

    {% endfor %}

  </div>

</div>

<div class="container-2">

  <a class="DL" href="smileys&emotion.html"><div class="nextpage"><img src="assets/img/emoji_emotions.svg"></div></a>

  <a class="DL" href="people&body.html"><div class="nextpage"><img src="assets/img/emoji_people.svg"></div></a>

  <a class="DL" href="animals&nature.html"><div class="nextpage"><img src="assets/img/emoji_nature.svg"></div></a>

  <a class="DL" href="food&drink.html"><div class="nextpage"><img src="assets/img/emoji_food_beverage.svg"></div></a>

  <a class="DL" href="travel&places.html"><div class="nextpage"><img src="assets/img/emoji_transportation.svg"></div></a>

  <a class="DL" href="activities.html"><div class="nextpage"><img src="assets/img/emoji_events.svg"></div></a>

  <a class="DL" href="objects.html"><div class="nextpage"><img src="assets/img/emoji_objects.svg"></div></a>

  <a class="DL" href="symbols.html"><div class="nextpage"><img src="assets/img/emoji_symbols.svg"></div></a>

  <a class="DL" href="flags.html"><div class="nextpage"><img src="assets/img/emoji_flags.svg"></div></a>

</div>