---
layout: default
---

<!-- navigation -->

{%- include menu.html -%}

<div class="imagegrid">

  <br>
  <div class="subhead">
    <h2>Smileys & Emotions</h2>
  </div>
  <div class="main" id="smileys&peopl"></div>

  <div class="imagegridtwo">

    {% for page in site.pages %}

    {% if page.layout == 'smileys&emotion' %}

    <div class="griddiv"><a href="{{ page.url }}"><img class="gridimage" src="assets/img/3moji/{{ page.emoji }}.png"
          alt="{{ page.title }}" loading="lazy" /></a></div>

    {% endif %}

    {% endfor %}

  </div>

</div>