---
layout: default
---
<!-- navigation -->
    
{%- include menu.html -%}

<div class="imagegrid">
  <div class="subhead"><h2>Activity - Not done yet!</h2></div>

  <!-- {% if page.emoji %}
  <div class="griddiv"><a href="pages/{{ page.emoji | escape }}.html"><img class="gridimage" src="assets/img/Smileys&People/{{ page.emoji | escape }}.png" alt="picture of 3moji"/></a></div>
  {% endif %} -->

  <div class="imagegridtwo">


{% for page in site.pages %}

  {% if page.layout == 'activity' %}
 
    <div class="griddiv"><a href="{{ page.url }}"><img class="gridimage" src="assets/img/3moji/{{ page.emoji }}.png" alt="{{ page.title }}"/></a></div>

  {% endif %}
  
{% endfor %}


  </div>


</div>