---
layout: default
---

<!-- VISA Tracking Code for https://3moji.org --><script>(function(v,i,s,a){if(!v._visaSettings){v._visaSettings={};}v._visaSettings["30fbb791-7a60-11eb-b589-901b0edac50a"]={v:"0.3",s:"30fbb791-7a60-11eb-b589-901b0edac50a",a:"1"};_v=i.getElementsByTagName("body")[0];_a=_v;_i=i.createElement("script");_s=_i;_s.defer="defer";_s.src=s+a+v._visaSettings["30fbb791-7a60-11eb-b589-901b0edac50a"].v;_a.appendChild(_s);})(window,document,"//app-worker.visitor-analytics.io/main",".js?s=30fbb791-7a60-11eb-b589-901b0edac50a&v=")</script><!-- VISA Tracking Code for https://3moji.org -->

<!-- navigation -->

{%- include menu.html -%}

<div class="imagegrid">
  <br>
  <div class="subhead">
    <h2>Objects</h2>
  </div>

  <div class="imagegridtwo">

    {% for page in site.pages %}

    {% if page.layout == 'objects' %}

    <div class="griddiv"><a href="{{ page.url }}"><img class="gridimage" src="assets/img/3moji/{{ page.emoji }}.png"
          alt="{{ page.title }}" /></a></div>

    {% endif %}

    {% endfor %}

  </div>

</div>

<div class="container-2"><a class="DL" href="smileys&emotion.html"><div class="nextpage">Smileys & Emotion</div></a></div>