---
layout: default
---

<!-- VISA Tracking Code for https://3moji.org --><script>(function(v,i,s,a){if(!v._visaSettings){v._visaSettings={};}v._visaSettings["30fbb791-7a60-11eb-b589-901b0edac50a"]={v:"0.3",s:"30fbb791-7a60-11eb-b589-901b0edac50a",a:"1"};_v=i.getElementsByTagName("body")[0];_a=_v;_i=i.createElement("script");_s=_i;_s.defer="defer";_s.src=s+a+v._visaSettings["30fbb791-7a60-11eb-b589-901b0edac50a"].v;_a.appendChild(_s);})(window,document,"//app-worker.visitor-analytics.io/main",".js?s=30fbb791-7a60-11eb-b589-901b0edac50a&v=")</script><!-- VISA Tracking Code for https://3moji.org -->


<!-- navigation -->

{%- include menu.html -%}

<div class="imagegrid">
  <br>
  <div class="subhead">
    <h2>Food & Drink</h2>
  </div>

  <div class="imagegridtwo">

    {% for page in site.pages %}

    {% if page.layout == 'food&drink' %}

    <div class="griddiv"><a href="{{ page.url }}"><img class="gridimage" src="assets/img/3moji/{{ page.emoji }}.png"
          alt="{{ page.title }}" /></a></div>

    {% endif %}

    {% endfor %}

  </div>

</div>

<div class="container-2">

  <a class="DL" href="smileys&emotion.html"><div class="nextpage">Smileys & Emotions</div></a>
  
  <a class="DL" href="people&body.html"><div class="nextpage">People & Body</div></a>

  <a class="DL" href="animals&nature.html"><div class="nextpage">Animals & Nature</div></a>

  <!-- <a class="DL" href="Food&Drink.html"><div class="nextpage">Food & Drink</div></a> -->

  <a class="DL" href="travel&places.html"><div class="nextpage">Travel & Places</div></a>

  <a class="DL" href="activities.html"><div class="nextpage">Activities</div></a>

  <a class="DL" href="objects.html"><div class="nextpage">Objects</div></a>

  <a class="DL" href="symbols.html"><div class="nextpage">Symbols</div></a>

  <a class="DL" href="flags.html"><div class="nextpage">Flags</div></a>

</div>