---
layout: default
---
<!-- navigation -->
    
{%- include menu.html -%}


<!-- pagecontent -->
<div class="fillspace">
  <div class="container-2">

    <div class="container-3-box">
      <!-- <img class="bodyimage" src="img/ohdear.png" alt="picture of 3moji" /> -->
      <model-viewer
      environment-image="neutral"
      camera-orbit="0rad 1.5rad 3m"
      max-field-of-view="90deg"
      field-of-view="60deg"
      min-field-of-view="30deg"
      id="reveal" 
      loading="eager" 
      shadow-intensity="0"
      exposure="0.75"
      background-color="#FFC037" autoplay auto-rotate camera-controls
      src="../assets/3D/gltf/{{ page.emoji | escape }}.gltf"
      interaction-prompt="none" alt="I broke D:"></model-viewer>
    </div>


    <div class="container-2-box">
      <h4>{{ page.title | escape }}</h4>
      <p>
        Oh look, it's {{ page.title | escape }}!
        <br> 
        I'm still working on how to roll these out, but at the moment feel free to use them, with credit, for personal non-commercial projects.
        Drop me a line if you have any other questions. :) 
        <br>
      </p>
      <a class="DL" href="mailto:info@3moji.org"><div class="DownloadB">info@3moji.org</div></a>
      <h2>Download</h2>
      <a class="DL" href="../assets/3D/gltf/{{ page.emoji | escape }}.gltf" download="{{ page.emoji | escape }}.gltf"><div class="DownloadB">GLTF</div></a>
      <!-- <a class="DL" href="#page"><div class="DownloadB">FBX</div></a> 
      <br> -->
       <a class="DL" href="../assets/img/3moji/{{ page.emoji | escape }}.png" download="{{ page.emoji | escape }}.PNG"><div class="DownloadB">PNG</div></a> 
      <!-- <h2>Or</h2>
      <a class="DL" href="#page">
        
        <div class="DownloadB">Support</div>
      
        <img class="Donatebutton01" src="../assets/img/3moji/grinning_cat.png" alt="Grinning Cat" />

        <img class="Donatebutton02" src="../assets/img/3moji/smiling_face_with_hearts.png" alt="picture of 3moji" />

      </a> -->
    </div>
  </div>
</div>